/* Estilo para la tarjeta de usuario */
/* Estilo para la tarjeta de usuario */
.user-card {
    background-color: #fff;
    padding: 30px; /* Aumenté el padding */
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 500px; /* Aumenté el max-width */
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center; /* Centra el contenido de texto */
}

/* Título de la tarjeta */
.user-card h3 {
    font-size: 1.8rem; /* Aumenté el tamaño de la fuente */
    margin-bottom: 10px;
    color: #333;
    text-align: center; /* Centra el título */
}

/* Información de la dirección */
.user-card p {
    font-size: 1.1rem; /* Aumenté el tamaño de la fuente */
    color: #555;
    margin-bottom: 20px;
    text-align: center; /* Centra el texto */
}

/* Botones de editar y eliminar */
.user-card button {
    background-color: #5f6660;
    color: #fff;
    border: none;
    padding: 8px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    margin: 5px;
    transition: background-color 0.3s ease;
}

.user-card button:first-child {
    background-color: #5f6660;
    color: white;
}

.user-card button:last-child {
    background-color: #5f6660;
    color: white;
}

.user-card button:hover {
    opacity: 0.8;
}

/* Estilo para el modal */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal {
    background-color: #fff;
    padding: 30px; /* Aumenté el padding */
    border-radius: 8px;
    width: 450px; /* Aumenté el width */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.modal h2 {
    font-size: 1.8rem; /* Aumenté el tamaño de la fuente */
    margin-bottom: 20px;
}

.modal input {
    width: 100%;
    padding: 12px; /* Aumenté el padding */
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.modal button {
    margin-right: 40px;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    background-color: #5f6660;
    color: white;
}

.modal button:hover {
    opacity: 0.8;
}

.modal .close {
    font-size: 1.8rem; /* Aumenté el tamaño de la fuente */
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
